.order{
    display:flex;
    width:30vw;
    min-width: 300px;
    margin:20px auto;
    padding:10px;
    box-shadow: 0 0 10px 1px #3336;
    border-radius: 5px;
    background-color: #E5E9F0;
  }
  .orderContent{
    flex:1;
    display:flex;
    flex-direction: column;
  }